<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magician_b_attack_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,431},{34,40}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,36},{34,40}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_attack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,439},{36,40}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,36},{36,40}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_attack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,437},{38,38}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,38},{38,38}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_attack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,435},{38,38}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,38},{38,38}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_attack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,315},{40,38}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,38},{40,38}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_attack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,238},{46,38}}</string>
                <key>offset</key>
                <string>{-7,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,38},{46,38}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_attack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,198},{50,38}}</string>
                <key>offset</key>
                <string>{-10,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,38},{50,38}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_attack_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,170},{54,38}}</string>
                <key>offset</key>
                <string>{-12,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,38},{54,38}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_attack_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,42}}</string>
                <key>offset</key>
                <string>{-20,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{72,42}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_attack_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{70,42}}</string>
                <key>offset</key>
                <string>{-19,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,34},{70,42}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_attack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{68,40}}</string>
                <key>offset</key>
                <string>{-18,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,36},{68,40}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_attack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,46},{64,38}}</string>
                <key>offset</key>
                <string>{-16,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,38},{64,38}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_attack_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,60},{62,38}}</string>
                <key>offset</key>
                <string>{-15,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,38},{62,38}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_attack_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,100},{58,38}}</string>
                <key>offset</key>
                <string>{-13,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,38},{58,38}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_attack_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,118},{58,38}}</string>
                <key>offset</key>
                <string>{-13,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,38},{58,38}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_attack_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,86},{58,38}}</string>
                <key>offset</key>
                <string>{-13,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,38},{58,38}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_attack_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{58,38}}</string>
                <key>offset</key>
                <string>{-13,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,38},{58,38}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_attack_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,126},{56,38}}</string>
                <key>offset</key>
                <string>{-12,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,38},{56,38}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_attack_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,166},{54,38}}</string>
                <key>offset</key>
                <string>{-11,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,38},{54,38}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_attack_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,158},{54,38}}</string>
                <key>offset</key>
                <string>{-11,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,38},{54,38}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_attack_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,210},{48,38}}</string>
                <key>offset</key>
                <string>{-8,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,38},{48,38}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_attack_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,238},{44,38}}</string>
                <key>offset</key>
                <string>{-5,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,38},{44,38}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_attack_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,399},{38,38}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,38},{38,38}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_attack_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,431},{34,40}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,36},{34,40}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_attack_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,399},{34,40}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,36},{34,40}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_die0_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,206},{38,50}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,26},{38,50}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_die0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{40,52}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,24},{40,52}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_die0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,439},{38,36}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,40},{38,36}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_die0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,467},{38,36}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,40},{38,36}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_die1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,250},{34,42}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,34},{34,42}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_die1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{40,46}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,30},{40,46}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_die1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,140},{56,28}}</string>
                <key>offset</key>
                <string>{-11,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,48},{56,28}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_die1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{60,28}}</string>
                <key>offset</key>
                <string>{-13,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,48},{60,28}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_die2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,64},{40,52}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,24},{40,52}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_die2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{56,50}}</string>
                <key>offset</key>
                <string>{11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,26},{56,50}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_die2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,30},{70,28}}</string>
                <key>offset</key>
                <string>{19,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,48},{70,28}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_die2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{72,26}}</string>
                <key>offset</key>
                <string>{20,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,50},{72,26}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,286},{35,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,41}}</string>
                <key>sourceSize</key>
                <string>{35,41}</string>
            </dict>
            <key>magician_b_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,301},{35,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,41}}</string>
                <key>sourceSize</key>
                <string>{35,41}</string>
            </dict>
            <key>magician_b_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,286},{35,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,41}}</string>
                <key>sourceSize</key>
                <string>{35,41}</string>
            </dict>
            <key>magician_b_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,284},{35,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,41}}</string>
                <key>sourceSize</key>
                <string>{35,41}</string>
            </dict>
            <key>magician_b_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,278},{35,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,41}}</string>
                <key>sourceSize</key>
                <string>{35,41}</string>
            </dict>
            <key>magician_b_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{35,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,41}}</string>
                <key>sourceSize</key>
                <string>{35,41}</string>
            </dict>
            <key>magician_b_walk_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,246},{38,42}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,34},{38,42}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,439},{36,40}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{36,40}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,401},{36,40}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,36},{36,40}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,399},{36,40}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,36},{36,40}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,321},{38,40}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,36},{38,40}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,393},{36,40}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,36},{36,40}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,361},{36,40}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,36},{36,40}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_walk_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{36,40}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,36},{36,40}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_walk_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,361},{36,40}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,36},{36,40}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_walk_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,363},{36,40}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,36},{36,40}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_walk_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,361},{36,40}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,36},{36,40}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_walk_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,355},{36,40}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,36},{36,40}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_walk_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,321},{38,40}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,36},{38,40}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_walk_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,323},{36,40}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,36},{36,40}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_walk_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{36,40}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,36},{36,40}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>magician_b_walk_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,323},{36,40}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,36},{36,40}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>army02.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afad1bdc9dc73ccdecfd6b805c648252$</string>
            <key>textureFileName</key>
            <string>army02.png</string>
        </dict>
    </dict>
</plist>
